/* ==========================================================================
   VARIABLES
   ========================================================================== */

/**
 * CONTENTS
 *
 * SETTINGS
 * Config...............Project-level configuration and feature switches.
 * Core.................inuitcss’ core and setup settings.
 * Global...............Project-wide variables and settings.
 *
 * TOOLS
 * Font-size............A mixin which guarantees baseline-friendly line-heights.
 * Clearfix.............Micro clearfix mixin.
 * Hidden...............Mixin for hiding elements.
 * Sass MQ..............inuitcss’ default media query manager.
 **/

// SETTINGS
@import "~inuitcss/settings/settings.core";
@import "00_Settings/settings.global";
@import "00_Settings/settings.breakpoints";
@import "00_Settings/settings.color";
@import "00_Settings/settings.color-neutral";
@import "00_Settings/settings.font-families";
@import "00_Settings/settings.font-sizes";

// TOOLS
@import "~inuitcss/tools/tools.font-size";
//@import "~inuitcss/tools/tools.clearfix";
//@import "~inuitcss/tools/tools.hidden";
//@import "node_modules/sass-mq/mq";

// MIXINS
@mixin container {
  width: $global-container-width;
  max-width: 100%;
  margin: auto;
  padding-left: $inuit-global-spacing-unit-large;
  padding-right: $inuit-global-spacing-unit-large;
  // Tablet
  @media screen and (max-width: $f-breakpoint--tablet-portrait) {
    padding-left: $inuit-global-spacing-unit;
    padding-right: $inuit-global-spacing-unit;
  }
  // mobile
  //@media screen and (max-width: $f-breakpoint--mobile-landscape) {
  //  padding-left: $inuit-global-spacing-unit-small;
  //  padding-right: $inuit-global-spacing-unit-small;
  //}
}
