///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$layout-header-height: 100px;

$global-container-width: 960px;
$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

$z-index-header: 3;
$z-index-post-description: 2;
$z-index-post-hero: 2;
