@import "~inuitcss/elements/elements.page";

html {
  font-family: $f-font-family__primary;
  @include inuit-font-size(24px);
}

.container {
  width: $global-container-width;
  max-width: 100%;
  margin: auto;
  padding-left: $inuit-global-spacing-unit-large;
  padding-right: $inuit-global-spacing-unit-large;
}
