html {
  font-family: $f-font-family__primary;
  font-size: $global-font-size;
  line-height: 1.5;
  color: $f-color__neutral-grey--dark;

  @media screen and (max-width: $f-breakpoint--mobile-portrait) {
    font-size: $global-font-size-sm;
  }
}

.container {
  @include container;
}
.container-narrow {
  @include container($narrow-desktop: true);
}
